@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap");
@import "font-awesome/css/font-awesome.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #7ecf40;
  --bottom-nav: #4aa62f;
}

/* .navbtn {
  @apply transition ease-in-out delay-150 bg-slate-200 hover: -translate-y-1 hover:scale-110 hover:bg-slate-300 hover:text-black duration-300 py-2.5 px-5 mt-3 mx-2 text-sm font-medium text-black rounded-full border-gray-200;
  transition: all linear 0.5s;
} */

/* Css reset */
* {
  margin: 0;
  padding: 0;
  /* font-weight: bold; */
  scroll-behavior: smooth;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

body {
  font-family: "Quicksand", sans-serif;
  width: 100%;
  height: 200vh;
  /* overflow: hidden; */
  text-transform: capitalize;
  /* transition: 0.5s linear all; */
}

#mainNav::before {
  content: "";
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.5;
}

/* Scroll bar */
html::-webkit-scrollbar {
  width: 0.8rem;
}

html::-webkit-scrollbar-track {
  background: grey;
}

html::-webkit-scrollbar-thumb {
  background: black;
}

/* Main Logo */
.logoimg {
  filter: invert();
}

.logo-txt {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: "Quicksand", sans-serif;
  font-weight: 900;
  letter-spacing: 3px;
}

#mainNav ul li {
  display: inline-block;
  display: inline;
  margin: 20px;
}

#mainNav ul li a {
  padding-bottom: 10px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

#mainNav ul li a,
#mainNav ul li a:after,
#mainNav ul li a:before {
  transition: all 0.5s;
}

#mainNav ul li:hover,
#mainNav ul li a:hover {
  color: var(--primary-color);
  transition: all 0.5s;
}

/* stroke */
#mainNav.stroke ul li a {
  position: relative;
}

#mainNav.stroke ul li a:after,
#mainNav ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: var(--primary-color);
  height: 1.3px;
}

#mainNav.stroke ul li a:hover:after {
  width: 100%;
}

.link {
  font-size: 1.2rem;
  font-family: "Quicksand", sans-serif;
}

/* .fa-2x {
  font-size: 2rem;
} */

/* bottom navbar  */

.bottom-navbar {
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: var(--bottom-nav);
}

.bottom-navbar a {
  font-size: 1.6rem;
  padding: 0.8rem;
  margin: 0 0.5rem;
}

/* Carousel */
carousel-section {
  background: #f4f4f4;
  padding: 50px 0;
}

.container {
  max-width: 1044px;
  margin: 0 auto;
  padding: 0 20px;
}

.carousel {
  display: block;
  text-align: left;
  position: relative;
  margin-bottom: 22px;
}

.carousel > input {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.carousel
  > input:nth-of-type(6):checked
  ~ .carousel__slides
  .carousel__slide:first-of-type {
  margin-left: -500%;
}

.carousel
  > input:nth-of-type(5):checked
  ~ .carousel__slides
  .carousel__slide:first-of-type {
  margin-left: -400%;
}

.carousel
  > input:nth-of-type(4):checked
  ~ .carousel__slides
  .carousel__slide:first-of-type {
  margin-left: -300%;
}

.carousel
  > input:nth-of-type(3):checked
  ~ .carousel__slides
  .carousel__slide:first-of-type {
  margin-left: -200%;
}

.carousel
  > input:nth-of-type(2):checked
  ~ .carousel__slides
  .carousel__slide:first-of-type {
  margin-left: -100%;
}

.carousel
  > input:nth-of-type(1):checked
  ~ .carousel__slides
  .carousel__slide:first-of-type {
  margin-left: 0%;
}

.carousel
  > input:nth-of-type(1):checked
  ~ .carousel__thumbnails
  li:nth-of-type(1) {
  box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
}

.carousel
  > input:nth-of-type(2):checked
  ~ .carousel__thumbnails
  li:nth-of-type(2) {
  box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
}

.carousel
  > input:nth-of-type(3):checked
  ~ .carousel__thumbnails
  li:nth-of-type(3) {
  box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
}

.carousel
  > input:nth-of-type(4):checked
  ~ .carousel__thumbnails
  li:nth-of-type(4) {
  box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
}

.carousel
  > input:nth-of-type(5):checked
  ~ .carousel__thumbnails
  li:nth-of-type(5) {
  box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
}

.carousel
  > input:nth-of-type(6):checked
  ~ .carousel__thumbnails
  li:nth-of-type(6) {
  box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
}

.carousel__slides {
  position: relative;
  z-index: 1;
  padding: 0;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  display: flex;
}

.carousel__slide {
  position: relative;
  display: block;
  flex: 1 0 100%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: all 300ms ease-out;
  /* vertical-align: top; */
  box-sizing: border-box;
  white-space: normal;
}

.carousel__slide figure {
  display: flex;
  margin: 0;
}

.carousel__slide div {
  position: relative;
  width: 100%;
}

.carousel__slide div:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 66.6666666667%;
}

.carousel__slide div > img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.carousel__slide img {
  display: block;
  flex: 1 1 auto;
  object-fit: cover;
}

.carousel__slide figcaption {
  align-self: flex-end;
  padding: 20px 20px 0 20px;
  flex: 0 0 auto;
  width: 25%;
  min-width: 150px;
}

.carousel__slide .credit {
  margin-top: 1rem;
  color: rgba(0, 0, 0, 0.5);
  display: block;
}

.carousel__slide.scrollable {
  overflow-y: scroll;
}

.carousel__thumbnails {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  margin: 0 -10px;
}

.carousel__slides + .carousel__thumbnails {
  margin-top: 20px;
}

.carousel__thumbnails li {
  flex: 1 1 auto;
  max-width: calc((100% / 6) - 20px);
  margin: 0 10px;
  transition: all 300ms ease-in-out;
}

.carousel__thumbnails label {
  display: block;
  position: relative;
}

.carousel__thumbnails label:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 100%;
}

.carousel__thumbnails label > img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.carousel__thumbnails label:hover,
.carousel__thumbnails label:focus {
  cursor: pointer;
}

.carousel__thumbnails label:hover img,
.carousel__thumbnails label:focus img {
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.25);
  transition: all 300ms ease-in-out;
}

.carousel__thumbnails img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* #main-bg {
  /* filter: brightness(0.5); 
} */

#mainNav {
  transition: 0.3s ease-in-out;
}

.nav-active {
  background-color: rgba(0, 0, 0, 0.568);
  /* box-shadow: 5px -1px 12px -5px grey; */
}

.landing-page-heading {
  position: absolute;
  top: 40%;
  /* left: 55%; */
  /* transform: translate(-50%, -50%); */
  text-align: center;
  width: 100%;
  margin: auto;
  font-size: 1.5rem;
  font-family: "Merriweather", serif;
  letter-spacing: 2px;
  font-weight: bold;
  color: white;
  z-index: 100;
  /* max-width: 60%; */
}

/* typewriter effect */
.typewriter-container {
  /* height: 100vh; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.typewriter-container p {
  color: white;
  margin-top: 10px;
  /* font-size: 2.5rem; */
  font-family: "Merriweather", serif;
  letter-spacing: 2px;
  padding: 0.5rem;
  font-weight: bold;
  text-align: center;
  overflow: hidden;
}

.typewriter-container p span.typed-text {
  font-weight: 300;
  color: var(--primary-color);
}

.typewriter-container p span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 2px;
  animation: blink 1s infinite;
}

.typewriter-container p span.cursor.typing {
  animation: none;
}

@keyframes blink {
  0% {
    background-color: #ccc;
  }

  49% {
    background-color: #ccc;
  }

  50% {
    background-color: transparent;
  }

  99% {
    background-color: transparent;
  }

  100% {
    background-color: #ccc;
  }
}

/* Search bar  */

.search-container {
  /* width: 45%; */
  /* height: auto; */
  background-color: #1e272e;
  /* background-color: transparent; */

  /*   margin: 20vh auto; */
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4rem;
  padding: 0 10px;
  transition: all 0.3s;
}

.search__box {
  float: left;
  width: 0;
  height: 3rem;
  /*   display: inline; */
  background: none;
  color: #f7f7f7;
  font-size: 1.2rem;
  border-radius: 2rem;
  outline: none;
  border: none;
  position: relative;
  opacity: 1;
  transition: all 0.75s ease-in;
  cursor: pointer;
  /*   border: 2px solid tomato; */
  /*   margin-top: 5px; */
}

/* .search__box:focus, .search__box:hover {
  background-color: #f1f2f6;
} */

.search__icon {
  box-sizing: border-box;
  float: right;
  /* font-size: 2.5rem; */
  font-size: 150%;
  display: inline-block;
  /*   justify-content: center;
  align-items: center; */
  /* margin-left: 0.8rem; */
  /* margin-top: -6px; */
  cursor: pointer;
  position: absolute;
  color: #fa983a;
  transition: all 0.25s ease-in;
  padding: 0.7rem;
  border-radius: 50%;
}

.search-container:hover > .search__box {
  width: 97%;
  padding: 0 1rem;
}

.search-container:hover > .search__icon {
  background-color: #eee;
}

.show {
  width: 92%;
  /* border: 1px solid white; */
}

/* Media Queries */

@media only screen and (min-width: 654px) and (max-width: 900px) {
  .search-container {
    top: 35%;
  }

  .typewriter-container {
    top: 25%;
  }
}

@media only screen and (min-width: 480px) and (max-width: 654px) {
  .typewriter-container {
    top: 25%;
  }

  .search-container {
    top: 35%;
  }
}

@media only screen and (max-width: 479px) {
  .typewriter-container {
    top: 15%;
  }

  .search-container {
    top: 25%;
  }
}
